<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="/app.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="app-layout">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main-content">
        <Routes />
    </div>
    <footer class="footer">
        <a href="https://kunev.dev" target="_blank" rel="noopener noreferrer">kunev.dev</a>
    </footer>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
